database:
  uri: "sqlite+aiosqlite:///./tiled.sqlite"
  init_if_not_exists: true
authentication:
  secret_keys: ["secret"]  # stable JWT signature
  tiled_admins:
  - provider: toy
    id: "dallan"
  providers:
  # - provider: pam
  #   authenticator: tiled.authenticators:LDAPAuthenticator
  #   args:
  #     server_address: "duoproxy.nsls2.bnl.gov"
  #     bind_dn_template:
  #     - "BNL\\{username}"
  #     use_tls: true
  #     use_ssl: true
  #   confirmation_message: "You have logged in as {id}."
   - provider: toy
     authenticator: tiled.authenticators:DummyAuthenticator
     args:
       confirmation_message: "You have logged in."
access_control:
  access_policy: tag_based_pass_access_policy:TagBasedPASSAccessPolicy
  args:
    provider: "toy"
    tag_config: "tag_definitions.yaml"
    group_parser: tag_based_pass_access_policy:get_group_users
    tags_db: "tags_state.sqlite"
    url: "https://api.nsls2.bnl.gov"
    sync_proposals:
      rate_all: 480    # minutes
      rate_current: 30 # minutes

trees:
  - path: /test/raw
    tree: catalog
    args:
#      uri: "postgresql+asyncpg://postgres:secret@localhost:5432"
      uri: "sqlite+aiosqlite:///./storage/catalog.db"
      writable_storage: "./storage/data"
      init_if_not_exists: true
      top_level_access_blob: {"tags": ["_ROOT_NODE_SST"]}
  - tree: databroker.mongo_normalized:Tree.from_uri
    path: /bmm/raw
    args:
      uri: mongodb://tiled:${TILED_DATABROKER_MONGO_PASSWORD}@mongo1.nsls2.bnl.gov,mongo2.nsls2.bnl.gov,mongo3.nsls2.bnl.gov/bmm-bluesky-documents?authSource=admin
      handler_registry:
        BMM_USBCAM: bmm_patches:BMM_JPEG_HANDLER
        BMM_XAS_WEBCAM: bmm_patches:BMM_JPEG_HANDLER
        BMM_XRD_WEBCAM: bmm_patches:BMM_JPEG_HANDLER
        BMM_ANALOG_CAMERA: bmm_patches:BMM_JPEG_HANDLER
        XSP3: area_detector_handlers.handlers:Xspress3HDF5Handler
        AD_HDF5: area_detector_handlers.handlers:AreaDetectorHDF5Handler
      transforms:
        descriptor: bmm_patches:patch_descriptor
      metadata:
        name: BMM
        long_name: Beamline for Materials Measurement
        alternative_name: 6-BM
        port: 06-BM
        locations: ["xf06bm"]
      authz_shim: mongo_authz:authz_shim
  - tree: chx_patches:PatchedTree.from_uri  # custom adapter injects Eiger metadata
    path: /chx/raw
    args:
      uri: mongodb://tiled:${TILED_DATABROKER_MONGO_PASSWORD}@mongo1.nsls2.bnl.gov,mongo2.nsls2.bnl.gov,mongo3.nsls2.bnl.gov/chx-bluesky-documents?authSource=admin
      handler_registry:
        # custom stuff
        AD_EIGER: chx_patches:MetaDataAwareEiger
        AD_EIGER2: chx_patches:MetaDataAwareEiger
        AD_EIGER_SLICE: chx_patches:MetaDataAwareEiger
        # standard stuff
        AD_TIFF: area_detector_handlers.handlers:AreaDetectorTiffHandler
      root_map:
        /nsls2/xf11id1: /nsls2/data/chx/legacy
      transforms:
        descriptor: chx_patches:patch_descriptor
        resource: chx_patches:patch_resource
      authz_shim: mongo_authz:authz_shim
